<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seccion De Películas</title>
</head>
<style>
    .nav-home{
        height: fit-content;
        position: fixed;
    }
</style>
<body>
    <header>
        <img 
        height="50"
        src="https://images.ctfassets.net/4cd45et68cgf/4nBnsuPq03diC5eHXnQYx/d48a4664cdc48b6065b0be2d0c7bc388/Netflix-Logo.jpg" alt="logo de Netflix">
        <header id="nav-home">
            <ul>
                <li>Inicio</li>
                <li>Series</li>
                <li>Películas</li>
                <li>Novedades Populares</li>
                <li>Mi Lista</li>
                <li>Explora por Idiomas</li>
            </ul>
        </header>
    </header>

</body>
</html>